body{
    text-align: center;
    background-image:url(./images/img0nrrr4qu6.jpg);
}
.container {
      font-family: "Roboto", sans-serif;
      border: 2px solid rgb(6, 6, 6);
      display: flex;
      justify-content: center;
    }
    .relative{
      background-color: #fbcece;
        margin: 40px;
        border: 30px solid black;
    }
    h1, h2 {
      font-family: "Playfair Display", serif;
    }
    .content-section {
      display: none;
    }
    .active {
      display: block;
    }