section#poems{
    background-image: url(wp4356845.jpg);
}

.poems-area{
 display: grid;
 grid-template-columns: repeat(2,1fr);
}
a.every-poem{
    all:unset;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border-radius: 10px;
    background-color:rgba(255, 228, 196, 0.26);
    box-shadow: 5px 5px 12px 2px rgb(114, 76, 0);
     */
}
div.poem-content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;
    padding: 10px 4px;
    margin: 10px;
    padding: 10px 4px;
    border-radius: 10px;
    background-color:rgba(255, 228, 196, 0.26);
    box-shadow: 5px 5px 12px 2px rgb(114, 76, 0);
    background-image: url(wallpaper2you_308010.jpg);
    

}
div.poem-content h3{
    font-size: 2.4rem;
    font-family: monospace;
    color: rgb(71, 42, 5);
}
div.poem-content h4{
    /* font-family:"Edwardian"; */
    font-size: 1.1rem;

}
div.poem-content p{   
  font-family: "Borel", serif;
    font-size: 1.2rem;
    color:#8B7871;
    
}

/* Tablet Styles */
@media (min-width: 681px) and (max-width: 900px) {
    .poems-area{
        grid-template-columns: repeat(2, 1fr);
    
    }
    div.poem-content p{
        padding: 10px;
    }
}

/* mobile view */
@media (max-width: 780px) {
    .poems-area{
        grid-template-columns: repeat(1, 1fr);
    
    }
    a.every-poem{
        margin: 10px 0px;
    }

    div.poem-content{ 
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    div.poem-content h3{
        font-size: 1.9rem;
    }
    div.poem-content h4{
        font-size: 0.9rem;
    
    }
    div.poem-content p{
        padding: 20px;
    font-size: 0.8rem;
    }
}
